{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">

    {% include 'components/navbar.html' %}
    
    
    {% if messages %}
        <div class="alert space-y-2 my-4 px-4 max-w-4xl mx-auto">
            {% for message in messages %}
                <div 
                    class="
                    px-4 py-3 rounded-lg text-white font-semibold
                    {% if message.tags == 'success' %}
                        bg-green-600
                    {% elif message.tags == 'error' %}
                        bg-red-600
                    {% elif message.tags == 'warning' %}
                        bg-yellow-500
                    {% elif message.tags == 'info' %}
                        bg-blue-500
                    {% else %}
                        bg-gray-700
                    {% endif %}
                    "
                >
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}

    

<div>
    {% block content %}{% endblock content %}
</div>


{% include 'components/footer.html' %}


<script>
  window.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.alert').forEach(el => {
      setTimeout(() => {
        el.style.transition = 'opacity 1s';
        el.style.opacity = 0;
        setTimeout(() => el.style.display = 'none', 1000);
      }, 3000);
    });
  });
</script>
</body>
</html>
